.App {
  text-align: center;
  font-size: 15;
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  padding-top: 50px;
}

.card {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #eee;
}

.photo-card {
  margin-bottom: 5px;
}

.photo-message-card {
  margin-bottom: 5px;
}

.card-display {
  padding: 30px;
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.card-display__column {
  padding-left: 5px; /* gutter size */
  background-clip: padding-box;
}
